<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kangwon.cs.capstone">

    <!-- 인터넷 연결 허용하는 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="The Farm"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Section2" />
        <activity android:name=".Section3" />
        <activity android:name=".Section4" />
        <activity android:name=".Sucess" />
        <activity android:name=".Death" />
        <activity android:name=".Game_menu" />
        <activity android:name=".Alone" />
        <activity android:name=".Alone_1to50" />
        <activity android:name=".Alone_card" />
        <activity android:name=".Together" />
        <activity android:name=".Together_Game" />
        <activity android:name=".Together_result" />
    </application>

</manifest>